.grid__tile--photo-holder {
  border: solid black 1px;
  background-size: cover;

  padding: 3rem;
}

.grid__tile--paul {
  background-image: url("../../locals/img/paul_photo.png");
}

.grid__tile--yoko {
  background-image: url("../../locals/img/yoko_photo.png");
}
